*{
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans JP', sans-serif;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 0.9rem;
    
}

html, body {
    margin: 0;
}

a {
    text-decoration: none;
    color: black
}

.contenaire{
    margin: 0 40px 0 30px;
}

/*** HEADER ***/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    max-width: 120px;
    margin-left: 15px;
}

header nav ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
    justify-content: flex-end;
}
header nav ul a {
    display: block;
    padding: 30px;
    border-top: 3px solid;
    border-color: transparent;
}

header nav li a:hover,
nav li :active {
    color: #0065FC;
    border-color: #0065FC;
}

/*** TITRES ***/

.subtitle {
    margin-bottom: 15px;
    font-size: 0.9rem;
}

/*** RECHERCHE ***/

.search-form {
    display: flex;
}

.search-input {
    font-size: small;
    border: solid #F2F2F2;
    outline: none;
    padding: 10px;
    color: black;
    font-weight: bold;
}

.search-input::placeholder {
    font-weight: 600;
    color: black;
}
.search-form .fa-location-dot {
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    font-size: 16px;
    padding: 14px 10px 10px 16px;
    height: 22px;
}
.search-button {
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    font-weight: bold;
    padding: 10px 15px;
    color: #fff;
    cursor: pointer;
}

.search-button-icon {
    display: none;
}

/*** FILTRES ***/
.filter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 15px 0;
}

.filter-list {
    display: flex;
    align-items: center;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    margin: 10px;
    cursor: pointer;
}


.filter-list:hover {
    background-color: #DEEBFF;
}

.filter-list .icon {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.filter-list i {
    color: #0065FC;
    display: inline-block;
}

.filter-list .text {
    padding: 0px 10px 0px 0px;
    font-weight: bold;
}


.filter-case {
    display: flex;
    margin-left: 15px;
}

/* INFO */
.info-icon{
    border: 2px solid blue;
    color: blue;
    width: 15px;
    align-items: center;
    border-radius: 100%;
    padding-left: 3px;
    margin-right: 5px;
    justify-content: center;
    
}

.info{
    display: flex;
    margin-bottom: 20px;
    padding: 15px;
}

/* HEBERGEMENT */
.wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
   
}

#hebergement{
    background-color: #F2F2F2;
    width: 880px;
    height: 626px;
    border-radius: 20px;
    flex-flow: row wrap;
    
}

.appart{
    display: flex;
} 

#hebergement .more, h3{
    font-weight: bolder;
    padding: 30px;
}


#hebergement .more:hover{
    color: #0065FC;
    text-decoration-color: #0065FC;
}

/*** CARDS ***/
.card
{
    margin: 20px;
    padding: 0;
    width: 246px;
    border-radius: 15px;
    height: 199px;
    overflow: hidden;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    background-color: #fff;
    border: 5px solid #fff;
    
    
}

.card-image {
    width: 246px;
    margin: 0;
    padding: 0;
    height: 124px;
    margin-bottom: 10px;
}

/*** ETOILES ***/
.stars {
    margin-top: 3px;
    font-size: smaller;
}

.stars .fa-blue {
    color: #0065FC;
}

.stars .fa-grey {
    color: #898686;
}
.etoile .fa-solid{
    color: #0065FC;
    float: right;
}

#popular{
    background-color: #F2F2F2;
    width: 420px;
    height: 626px;
    border-radius: 20px; 
    
}

.populaire figure img {
    width: 137px;
    height: 144px;
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
}

.populaire figure{
    width: 335px;
    height: 140px;
    display: flex;
}
.populaire figcaption{
    padding: 15px;
}
.activity-appart{
    display: flex;
    justify-content: space-evenly;
}

.populaire .card .stars{
    margin-top: 50px;
}


/*** ACTIVITY ***/
#activity h3, h1{
    margin: 20px 20px 20px 0px;
    padding: 0;
    
}

#activity .card{
    border: none;
    width: 302px;
    height: 445px;
   margin: 10px;
   margin-bottom: 50px;
   font-weight: bold;
} 

#activity .card p{
    padding-left: 20px;

}

.card:hover{
    background-color: #F2F2F2;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}

#activity figure img{
    height: 409px;
    width: 302px;
    margin: 0;
    margin-bottom: 15px;
}

.title{
    margin-bottom: 5px;
    font-weight: bold;
}


/*** FOOTER ***/
footer{
    padding: 35px 80px;
    background-color: #F2F2F2;
    display: flex;
    width: 100%;
    justify-content: space-around;
    box-sizing: border-box;

}

.footer-items {
    width: 30%;
    margin-left: 30px;
}
.footer-items h3{
    font-weight: bolder;
    padding: 30px 0 30px;
}
.footer-items ul {
    list-style: none;
    margin: 0px;
    padding: 0%;
    line-height: 35px;
}

/* RESPNSIVE MOBILE */
@media screen and (max-width: 768px) {
   .contenaire {
    margin: 0px 10px 0px 10px;}
    .subtitle, ul{
        font-size: 1rem;
    }
  
    .logo, ul {
        align-self: center;
        display: inline;
        margin: 2rem;
    }
   /* .logo{
         margin: -10px 0px 0px -180px; 
    }*/
    header {
        flex-direction: column;
    }

    header nav {
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }

    header nav ul {
        width: 100%;
    }

    header ul li {
        width: 50%;
    }

    header nav ul a {
        border-top: transparent;
        border-bottom: 3px solid #DEEBFF;
        padding: 20px;
        width: 100%;
        text-align: center;
        box-sizing: border-box;
    }
    
    .search-form {
        margin-bottom: 30px;
    }
    

    .search-button-icon {
        display: block;
    }

    .search-button-text {
        display: none;
    }
    .search-button{
        border: 4px solid #0065FC;
        border-radius: 0px 15px 15px 0px;
        align-self: center;
        justify-content: center;
    }
    .search-button-text {
        display: none;
    }
    /*** FILTRES ***/

    h2 { 
        padding-left: 20px;
        font-size: 120%;
    }
    .filter-case{
    flex-wrap: wrap;
    font-size: small;
    margin: auto;
    }
    
    .filter-case :first-child {
        align-self: center;
    }
    .filter {
        display: block;
    }
    .wrapper {
        flex-direction: column-reverse;
          
    }
    #hebergement{
        background-color: transparent;
        width: 100%;
    }
    #hebergement .row{
        align-self: center;
    }
    #hebergement .card{
        width: 333px;
    }
    #hebergement .card-image{
        width: 100%;
    }
    aside{
        background-color: #F2F2F2;
    
    }
    #popular, #hebergement{
       
        height: unset;
        padding: 0;
        margin: auto;
        margin-bottom:  15px;
        border-radius: 0px;
        box-sizing: border-box;
    }

    #popular{
        width: 100%;
    }
    .populaire figure{
        align-self: center;
        margin: auto;
        margin-bottom: 20px;
        width: 85%;
    }
    .populaire figure img {
        width: 50%;
    }
    .populaire figure .card-text{
        padding: 10px;
    }
    .populaire{
        padding-bottom: 30px;
    }
    .article{
        background-color: transparent;
    }
    
    #hebergement, .appart{
        flex-direction: column;
    
    }
    #activity .card{
        height: 190px;
        margin: auto;
        margin-bottom: 20px;
        width: 333px;
    } 
    #activity .card-image{
        height: 140px;
        width: 100%;
    } 
    .activity-appart{
        flex-direction: column;

    }
    .activity-appart .card{
        align-self: center;
        height: 190px;
        
    } 

    footer {
        flex-direction: column;
        
    }

    .footer-items {
        flex-direction: column;
        white-space: nowrap;
        margin: 15px;
        width: 100%;
        
    }

    
}

/* RESPNSIVE TABLETTE */
@media screen and (min-width: 769px ) and (max-width: 992px) {
    .contenaire{
        margin: 0 30px 0 30px;
        
      }

      .filter-case{
        flex-wrap: nowrap;
        font-size: small;
        }
      .wrapper {
        flex-direction: column;
          
    } 
    #hebergement, #popular {
        width: 100%;
        margin-bottom:  40px;
    }
    #popular{
        height: 278px;
        margin: auto;
    }
    .populaire{
        display: flex;
    }
    .populaire .card{
        width: 275px;
        margin: 10px;
       
    }
    .populaire figure img{
        width: 110px;
    }

    
    #activity .card{
        height: 275px;
        margin: auto;
        margin-bottom: 20px;
        width: 185px;
    } 
    #activity .card-image{
        height: 220px;
        width: 100%;
    }
    
    footer{
        padding: 35px 50px;
    }
    .footer-items{
        margin-left: 60px;
    }
        
} 


 