*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway','IBM Plex Sans JP', sans-serif; 
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 0.9rem;
    
}

html, body {
    margin: 0;
}

a {
    text-decoration: none;
    color: black
}

.contenaire{
    width: 1400px;
    margin: 0 auto;
}

/*** HEADER ***/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    max-width: 120px;
    margin-left: 15px;
}

header nav ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
    justify-content: flex-end;
}
header nav ul a {
    display: block;
    padding: 30px;
    border-top: 3px solid;
    border-color: transparent;
}

header nav li a:hover,
nav li :active {
    color: #0065FC;
    border-color: #0065FC;
}

/*** TITRES ***/

.subtitle {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 0.9rem;
}

/*** RECHERCHE ***/

.search-form {
    display: flex;
}

.search-input {
    font-size: small;
    border: solid #F2F2F2;
    outline: none;
    padding: 10px;
    color: black;
    font-weight: bold;
}

.search-input::placeholder {
    font-weight: 600;
    color: black;
}
.search-form .fa-location-dot {
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    font-size: 16px;
    padding: 14px 10px 10px 16px;
    height: 22px;
}
.search-button {
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    font-weight: bold;
    padding: 10px 15px;
    color: #fff;
    cursor: pointer;
}

.search-button-icon {
    display: none;
}

/*** FILTRES ***/
.filter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 15px 0;
}

.filter-list {
    display: flex;
    align-items: center;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    margin: 10px;
    cursor: pointer;
   
}


.filter-list:hover {
    background-color: #DEEBFF;
}

.filter-list .icon {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.filter-list i {
    color: #0065FC;
    display: inline-block;
}

.filter-list .text {
    padding: 10px;
    font-weight: bold;
    font-size: small;
}


.filter-case {
    display: flex;
    margin-left: 15px;
}

/* INFO */
.info-icon{
    border: 1px solid #898686;
    color: blue;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 7px;
    width: 7px;
    padding: 7px;
    border-radius: 100%;
    margin-right: 10px;
    
}


.info{
    display: flex;
    margin-bottom: 20px;

}
.info p{
    margin-top: 6px;
}

/* HEBERGEMENT */
.article {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
   
}

#hebergement{
    background-color: #F2F2F2;
    width: 65%;
    border-radius: 20px;
    box-sizing: border-box;
   
    
}
.appart{
    margin: 0 auto;
    padding: 0 20px;
}
 
.row{
    display: flex;
    justify-content: space-between;
    
    
}
.column {
    width: 35%;
    margin: 10px;
}


#hebergement .more, h3{
    font-weight: bolder;
    padding: 30px;
}


#hebergement .more:hover{
    color: #0065FC;
    text-decoration-color: #0065FC;
}

/*** CARDS ***/
.card
{
    margin-bottom: 20px;
    padding: 0;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    background-color: #fff;
    border: 4px solid #fff;
    
    
}

.card-image {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 124px;
    margin-bottom: 10px;
}

.card-text{
    padding: 10px;
}

/*** ETOILES ***/
.stars {
    margin-top: 3px;
    font-size: smaller;
}

.stars .fa-blue {
    color: #0065FC;
}

.stars .fa-grey {
    color: #898686;
}
.etoile .fa-solid{
    color: #0065FC;
    float: right;
}

/*** POPULAIRE ***/
#popular{
    background-color: #F2F2F2;
    width: 32%;
    padding: 20px;
    border-radius: 20px; 
    box-sizing: border-box;
    
}

.populaire figure img {
    width: 45%;
    height: 130px;
    
}

.populaire figure{
    display: flex;
}
.populaire .card-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

}

/*** ACTIVITÉS MARSEILLE ***/
#activity {
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

#activity h3 {
    margin-top: 45px;
}
#activity .activity-appart{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    flex-wrap: wrap;
    width: 100%;
}
.activity-column{
    width: 24%;
}
#activity .card{
    border: none;
}

.card:hover{
    background-color: #F2F2F2;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}

#activity figure img{
    height: 255px;
    margin: 0;
    margin-bottom: 10px;
}

.title{
    margin-bottom: 5px;
    font-weight: bold;
}


/*** FOOTER ***/
footer{
   
    background-color: #F2F2F2;
    display: flex;
    width: 100%;
    justify-content: space-around;
    box-sizing: border-box;

}

.footer-items {
    width: 30%;
    margin-left: 30px;
}
.footer-items h3{
    font-weight: bolder;
    padding: 30px 0 30px;
}
.footer-items ul {
    list-style: none;
    margin: 0px;
    padding: 0%;
    line-height: 35px;
}

/* RESPNSIVE MOBILE */
@media screen and (max-width: 768px) {
    .contenaire:first-child {
        padding: 25px 0px 0px 0px;
        margin-bottom: 30px;
    }
   .contenaire {
        width: 100%;
        box-sizing: border-box;
        padding: 0px;
}
    .subtitle, ul{
        font-size: 1rem;
    }
  
    .logo, ul {
        align-self: center;
        display: inline;
        margin: 2rem;
    }
  
    header {
        flex-direction: column;
    }

    header nav{
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }

    header nav ul {
        width: 100%;
    }

    header ul li {
        width: 50%;
    }

    header nav ul a {
        border-top: transparent;
        border-bottom: 3px solid #DEEBFF;
        padding: 20px;
        width: 100%;
        text-align: center;
        box-sizing: border-box;
    }
    
    .search-form {
        margin-bottom: 30px;
    }
    

    .search-button-icon {
        display: block;
    }

    .search-button-text {
        display: none;
    }
    .search-button{
        border: 4px solid #0065FC;
        border-radius: 0px 15px 15px 0px;
        align-self: center;
        justify-content: center;
    }
    .search-button-text {
        display: none;
    }
    /*** FILTRES ***/

    h2 { 
        padding-left: 20px;
        font-size: 120%;
    }
    .filter-case{
    flex-wrap: wrap;
    font-size: small;
    margin: 10px;
    }
    
    .filter-list{
        width: 44%;
        margin: 5px;
    }
    .filter-list .text{
        padding: 0;
        font-size: smaller;
    }
    .filter-list .icon{
        font-size: 1rem;
    }
    .filter {
        display: block;
    }
    .info p{
        margin-top: 0px;
    }
    .article {
        flex-direction: column-reverse;
          
    }
    #hebergement{
        background-color: transparent;
        width: 100%;
    }
    #hebergement .row{
        flex-direction: column;
        align-self: center;
    }
    #hebergement .column{
        width: 100%;
    }
    #hebergement .card{
       
        margin: auto;
        margin-bottom: 20px;
    }
    #hebergement .card-image{
        width: 100%;
    }
    .more{
        display: none;
    }
    aside {
        background-color: #F2F2F2;
    
    }
    #popular, #hebergement{
       
        height: unset;
        padding: 0;
        margin: auto;
        margin-bottom:  15px;
        border-radius: 0px;
        box-sizing: border-box;
    }

    #popular{
        width: 100%;
    }
    .populaire figure{
        align-self: center;
        margin: auto;
        margin-bottom: 20px;
        width: 85%;
    }
    .populaire figure img {
        width: 50%;
    }
    .populaire figure .card-text{
        padding: 10px;
    }
    .populaire{
        padding-bottom: 30px;
    }
    .article{
        background-color: transparent;
    }
    
    #hebergement, .appart{
        flex-direction: column;
    
    }
    .column{
        align-self: center;
    }
    /* #activity h3, h1, .subtitle, form, .info{
        margin: 20px;
        padding: 0;
        
    } */
    .activity-column{
        width: 90%;
        align-self: center;
    }
     
    #activity .card-image{
        height: 140px;
        
    } 
    .activity-appart{
        flex-direction: column;
        align-self: center;

    }
    
    footer {
        flex-direction: column;
        
    }

    .footer-items {
        flex-direction: column;
        white-space: nowrap;
        margin: 15px;
        width: 100%;
        
    }

    
}

@media screen and (max-width: 280px){
    h1 {
        font-size: 120%;
    }

    h3 {
        font-size: 120%;
    }

    .search-input{
        width: 50%;
        font-size: 100%;
    }
    

}

/* RESP0NSIVE TABLETTE */
@media screen and (min-width: 769px ) and (max-width: 993px) {
    .contenaire{
        width: 100%;   
        box-sizing: border-box;
        padding: 0px;
        
      }
      header{
        padding: 25px 0px 0px 0px;
        margin-bottom: 30px;
    
      }

      .filter-case{
        flex-wrap: nowrap;
        font-size: small;
        }
      .article {
        flex-direction: column;
          justify-content: space-evenly;
    } 
    #hebergement, #popular {
        width: 100%; 
        margin-bottom: 20px; 
        box-sizing: border-box;
        
    }
    #hebergement .card{
        width: 80%;
    }
    #popular{
        height: 278px;
        padding: 20px;   
    }
    .populaire{
        display: flex;
    }
    #popular .card{
        width: 90%;   
    }
    .populaire a{
        width: 33%;
    }
    .populaire figure img{
        width: 35%;
    }
    .populaire figcaption{
        width: 120px;
       
    }
    .populaire .card .stars {
       
       padding: 0;
    }


    #activity {
        padding: 0px 25px;
    }
    
    footer {
        width: 100%;
        align-items: flex-start;
        padding-left: 25px;
    }

    .footer-items {
        flex-direction: column;
    }
        
} 


    


 